@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
    font-family: "Raleway", sans-serif, "Noto Sans KR", sans-serif;
    color: #222;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}

a {
    color: #222;
    text-decoration: none;
}

.custom input[type="checkbox"] {
    display: none;
}

.custom label{
    cursor: pointer;
}

.custom label em {
    /* border: 1px solid red; */
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url(./images/checkbox-02.png) no-repeat;
    /* background-position의 속성값은 수평중앙 수직중앙 순서 */
    background-position: left center;
    cursor: pointer;
}

.custom input[type="checkbox"]:checked + label em {
    background-position: right center;
}

.grade input[type=radio]{
    display: none;
}

.grade label{
    cursor: pointer;
}

.grade label em {
    /* border: 1px solid red; */
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
    background: url(./images/radio-01.png) no-repeat;
    background-position: left center;
}

.grade input[type=radio]:checked + label em{
    background-position: right center;
}

.grade input[type=radio]:checked + label{
    color: crimson;
    font-weight: bold;
}

.grade label{
    cursor: pointer;
}